version: "3.4"

services:
  portainer: 
    container_name: portainer
    image: portainer/portainer
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    ports:
      - "9000:9000"
  mongodb:
    container_name: mongodb
    image: 'webhippie/mongodb:latest'
    volumes:
      - /data/db:/data/db
      - /data/configdb:/data/configdb
    restart: always
    ports:
      - '27017:27017'
      - '28017:28017'
    command: mongod --journal
  client:
    container_name: client
    image: 'dpowersnewg/aspreactapp.client-app'
    restart: always
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
    ports:
      - '80:80'
      - '443:443'
  backend:
    container_name: backend
    image: 'dpowersnewg/aspreactapp.api'
    restart: always
    ports:
      - '5050:5050'
    environment:
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_HTTPS_PORT=443
      - ASPNETCORE_Kestrel__Certificates__Default__Path="fullchain.pfx"
  watchtower:
    container_name: watchtower
    image: 'containrrr/watchtower'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    command: --debug true --cleanup true client backend portainer

volumes:
  portainer_data:
